/*body{
  background-image:url("https://webgradients.com/public/webgradients_png/013%20Heavy%20Rain.png");
  margin-right: 10px;
  }*/
  /*style the header*/
  header{
    margin: none;
    width: 100%;
    position: fixed;
  }
  
    /*.hero-image {
     
      height: 50%;
   
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: default;
    }*/

    .nav-tabs{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
    }
.carousel-inner {

  width:100% !important;
  height:100%!important;
  position:default;

}
    .grid_4
  {
    font-family:  sans-serif;
    font-size: 15px;
  }
  .footer
  {
    background-color:black;
    color:white;
    text-align:center;
    }
  




  

    